<h1><%= @line.name %></h1>
Direction: <%= @line.direction %><br><br>
Stations:<br>
<% @line.stations.each do |stationAbbreviation| %>
	<% station = getStationName(stationAbbreviation) %>
	<%= link_to station.name, station_path(station.slug) %><br>
<% end %>
