<div class="container" id="stationindex">
	<h1 class="text-center">Select A Station</h1>
	<div class="row">
		<div class="col-md-7">
			<% #NOTE: In general, definitely consider using the `asset_path` to generate the URL for you. In production the site may break otherwise. %>
			<img src="../../assets/BART_cc_map_20141029.png" alt="BART map" id="BARTmap" class="img-responsive img-rounded">
		</div>
		<div class="col-md-5" id="stationlinks">
			<% @stations.each do |station| %>
			    <% tagged = false %>
			    <%if signed_in? %>
					<% @favorite_stations.each do |fs|%>
						<% if station == fs %>
							<span data-_id="<%=station.id%>" class="hearted" onclick="clickHeart(this)">
								<span class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Unfavorite this station so you can favorite another!"></span>
							</span>
							<% tagged = true %>
						<% end %>
					<% end %>
				<% end %>
				<%if signed_in? %>
					<% if tagged == false %>
						<span data-_id="<%=station.id%>" onclick="clickHeart(this)">
								<span class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Favorite this station for easy access!"></span>
						</span>
					<% end %>
				<% else %>
					<span data-_id="<%=station.id%>">
						<span class="fa fa-heart" aria-hidden="true" data-toggle="tooltip" data-placement="left" title="Login to Favorite this station!"></span>
					</span>
				<% end %>
				<%= link_to station.name, station_path(station.slug) %><br>
			<% end %>
		</div>
	</div>
</div>

<script type="text/javascript">
	<% #NOTE: Good use of calling one master JS funciton from the view. %>
	activateNav("station")
</script>