<h1><%= @wantedStation.name %></h1>
<% @stationTimes.each do |routeNumber, route| %>
	<% @wantedRoute = getRouteName(routeNumber) %>
	<h2><%= @wantedRoute.name %></h2>
	<% route.each do |arrival_time| %>
		<%= arrival_time %>
	<% end %>
	<br>
<% end %>
