<div class="container">
	<h1>Welcome, <%= @user.first_name %> </h1>
	<b>Favorite Stations:</b>
	<br>
	<% @user.stations.each do |station| %>
		<%= link_to station.name, station_path(station.slug) %>
		<br>
	<% end %>
	<br>
	<b>Tips:</b>
	<br>
	<% @user.tips.each do |tip| %>
		<%= tip.description %>
		<br>
	<% end %>
	<br><br>
	<%= link_to "Logout", "/sign_out" %>	
</div>

<script type="text/javascript">
	activateNav("profile")
</script>