<body id='about_us'>
	<center><h1>About Us</h1>
	<img src='http://i.imgur.com/xr9BQ4x.jpg'>
	<img src='http://i.imgur.com/DZjb8iD.jpg'>
	<br><br>
	<h2 class="text-center">Team 3-for-2</h2>
	<p>You hate us 'cause you ain't us.</p>
	</center>
</body>
<script type="text/javascript">
	activateNav("about")
</script>