// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.sign_up_form{
	text-align: center;
}

body#sign_up_page h1{
	color: black;
}

body#sign_up_page input{
	padding-bottom: -10px;
}